.detail-container{
    display: flex;
    flex-direction: column;
    background-color: var(--inbox-bg-color);
    min-width: 700px;
    max-width: 40vw;
    height: 100%;
}

.detail-container > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    

}